Flask
flask-limiter
python-dotenv
PyPDF2
python-docx
requests
beautifulsoup4
youtube-transcript-api
markdown
reportlab
langchain>=0.1.14
langchain-community
langchain-huggingface
langchain-groq
sentence-transformers
faiss-cpu
gunicorn
selenium
webdriver-manager
rarfile
patool
lxml
pydantic==1.10.13
groq
flask-cors
