--index-url https://download.pytorch.org/whl/cpu
torch==2.3.1+cpu

Flask
flask-limiter
python-dotenv
PyPDF2
python-docx
requests
beautifulsoup4
markdown
reportlab
langchain>=0.1.14
youtube-transcript-api
langchain-community
langchain-huggingface
sentence-transformers
faiss-cpu
gunicorn
selenium
webdriver-manager
rarfile
patool
lxml
pydantic==1.10.13
flask-cors
langchain-google-genai
google-generativeai
